* {
	-webkit-user-select: none;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: #000;
	text-align: center;
	font-family: monaco, Courier, serif;
}

h1 {
	color: white;
	font-size: 3em;
}

.game {
	display: inline-block;
}

.game p {
	color: white;
}
